.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 300px;
  padding: 50px;
  background-color: rgb(17, 74, 124, 0.9);
  box-shadow: -4px 2px 0 wheat;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
  text-align: center;
}

.registration-form label {
  width: 100%;
}

.registration-form label input {
  width: 94%;
  padding: 12px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.818);
  font-weight: 600;
  font-size: 16px;
  font-family: 'Righteous', cursive;
  background-color: white;
  cursor: pointer;
}

.registration-form button {
  width: 101%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.855);
  color: rgba(255, 255, 255, 0.887);
  font-weight: 600;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  box-shadow: -1px 2px 0 wheat;
  cursor: pointer;
}

.registration-form button:hover {
  box-shadow: -3px 2px 0 wheat;
  background-color: rgba(140, 77, 138, 0.8);
}

.registration-return {
  padding: 10px;
  color: white;
}

.registration-return:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}